@import "../../colors";
@import "../../typography"; 

.high-score-list { 
    @include mainTypography; 
    width: 100%; 
    height: 100%;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px; 
    h2 { 
        color: white; 
        margin-bottom: 20px; 
        text-align: center;
    }
}