@import "../../typography"; 

.personal-dashboard-container { 
    @include mainTypography; 
    width: 100%; 
    height: calc(100vh - 100px); 
    display: flex;
    justify-content: center;
    align-items: center;
    .personal-dashboard { 
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 500px; 
        height: 700px; 
        border: 2px solid black; 
        border-radius: 20px;
        padding: 5px;
        background: rgb(223, 216, 153);
        background: linear-gradient(196deg, rgb(221, 214, 157) 0%, rgba(241, 211, 150, 0.853) 50%, rgb(243, 233, 219) 100%); 
        .personal-score { 
            padding: 10px; 
            width: 100%;
            li { 
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid black;
            }
        }
    }
}