@import "../../colors"; 

.timer-container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    span { 
        font-size: 2rem;
        color: rgb(15, 14, 14); 
        font-weight: 600;
    }
    button { 
        background-color: rgb(141, 224, 141);
        color: rgb(8, 8, 8); 
        font-weight: 700; 
        font-size: 18px;
        padding: 10px 40px;
        border: 2px solid black;
        &:hover { 
            cursor: pointer;   
            background-color: rgb(192, 236, 192);
        }
        &:disabled { 
            display: none;
            transition: 1s ease-in;
        }
    }
}