@import "../../colors"; 
@import "../../typography"; 

.math-tester-games-button {
    width: 80px;
    height: 80px; 
    border-radius: 40px; 
    overflow: hidden; 
    @include navBarColor;   
    color: rgb(15, 15, 15); 
    font-size: 20px;
    border: 2px solid black;
    h2 { 
        font-size: 20px;
        margin-bottom: 35px;
    }
    .math-tester-games-button-container { 
        height: 500px; 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 25px;
        font-weight: 700;
        @include  accentColor; 
        button { 
            width: 100%; 
            padding: 10px;
            margin-bottom: 5px;
            color: white; 
            background-color: rgb(34, 28, 29);
            &:hover { 
                cursor: pointer;
                background-color: rgb(53, 47, 47); 
            }
        }
    }
    &:hover {  
        cursor: pointer;
        transition: .3s ease-in-out; 
        height: 700px;
    }
}