@import "../../typography"; 
@import "../../colors"; 

.game-summery-container { 
    @include mainTypography; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%; 
    height: 100%; 
    font-size: 18px; 
    padding-top: 3rem;
    .game-summery { 
    padding: 10px; 
    border-radius: 10px;
    width: 400px; 
    max-height: 1000px;
    overflow-x: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black; 
    @include navBarColor;
    h2 { 
        color: white; 
        font-size: 3rem;
    } 
    h3 { 
        @include  accentColor; 
    }
    .right-answer { 
        color: rgb(35, 136, 35);
        }
    .wrong-answer { 
        color: red; 
        }
    }
    .back-to-game-button { 
        width: 100%; 
        padding: 10px;
        border: none; 
        font-size: 18px;
        border-radius: 5px;
        background-color: rgb(170, 226, 170); 
        margin-top: 20px; 
        &:hover { 
            background-color: rgb(119, 223, 209);
            cursor: pointer;
        }
    }
}