@import "../../typography"; 
@import "../../colors"; 

.game-summery-container { 
    @include mainTypography; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%; 
    height: 100%; 
    font-size: 18px; 
    padding-top: 3rem;
    padding-bottom: 3rem; 
    .game-summery { 
    padding: 10px; 
    border-radius: 10px;
    width: 400px; 
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black; 
    @include navBarColor;
    h2 { 
        color: white; 
        font-size: 3rem;
    } 
    h3 { 
        @include  accentColor; 
    }
    .right-answer { 
        color: rgb(35, 136, 35);
        }
    .wrong-answer { 
        color: red; 
        }
    }
    .back-to-game-button { 
        width: 100%; 
        padding: 10px;
        border: none; 
        font-size: 18px;
        border-radius: 5px;
        background-color: rgb(170, 226, 170); 
        margin-top: 20px; 
        &:hover { 
            background-color: rgb(119, 223, 209);
            cursor: pointer;
        }
    } 
}

::-webkit-scrollbar {
    width: 4px;               /* width of the entire scrollbar */
  }
  
::-webkit-scrollbar-track {
    background: rgb(66, 71, 68);        /* color of the tracking area */
  }
  
::-webkit-scrollbar-thumb {
    background-color: rgb(68, 68, 75);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(18, 19, 18);  /* creates padding around scroll thumb */
  }