@import "../../colors"; 
@import "../../typography"; 

.nav-bar-container { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    height: 100px;
    border-radius: 0px 0px 20px 20px;  
    @include mainTypography; 
    @include navBarColor; 
    .nav-bar-logo { 
        width: 100px;
        margin-left: 10px;
        &:hover { 
            transform: scale(1.02);
            transition: .2s ease-in-out;
            cursor: pointer;
        }
    }
    .nav-bar-links { 
        color: rgb(0, 0, 0);
        .nav-bar-trophy { 
            text-decoration: none;
            color: black;
            &:hover { 
                color: rgb(214, 221, 140);
            }
        }
    }
    .nav-profile-container { 
        display: flex;
        justify-content: center;
        align-items: center;
        .nav-user-container{ 
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 20px; 
            .nav-bar-profile-picture { 
                width: 70px;
                border-radius: 50%;
                border: 2px solid black;
                margin-left: 15px;
            }
            p { 
                font-size: 20px;
            }
        }
        .nav-bar-settings-wheel { 
            margin-right: 20px;
            color: rgb(0, 0, 0); 
            }
            .settings-wheel { 
                &:hover { 
                    transform: rotate(360deg); 
                    transition: .7s ease-in-out;
                    cursor: pointer;
            }
        }
    }  
}