@mixin navBarColor {
    background: rgb(46, 51, 54);
    background: linear-gradient(90deg, rgb(46, 49, 54) 0%, rgb(59, 65, 66) 74%);    
} 

@mixin accentColor {
    color: #aeeeec;   
} 

@mixin backGroundColor { 
    background-color: #68595d;
}

@mixin highScoreList { 
    padding: 10px; 
    border-radius: 16px;
    max-height: 350px; 
    width: 300px; 
    margin: 20px; 
}

@mixin highScoreModeTen { 
    background: #6e9291; 
    border: 2px solid #38594d; 
}

@mixin highScoreModeHundred { 
    background: rgb(97, 145, 151);
    border: 2px solid #38594d; 
}

@mixin highScoreModeThousand{ 
    background: #49a6a3; 
    border: 2px solid #38594d; 
}