* { 
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

.application-container { 
    min-height: 100vh; 
    height: 100%;
    padding-top: 100px; 
    background: rgb(174,238,236);
    background: radial-gradient(circle, rgba(174,238,236,1) 0%, rgba(56,89,77,1) 100%);  
}

.login-screen-container { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: calc(100vh - 100px);
    background: rgb(174,238,236);
    background: radial-gradient(circle, rgba(174,238,236,1) 0%, rgba(56,89,77,1) 100%); 
}