@import "../../colors"; 
@import "../../typography"; 

.login-container { 
    @include mainTypography; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center;
    width: 350px; 
    height: 500px; 
    border: 2px solid white;
    border-radius: 20px;
    background: rgb(151, 171, 173);
    background: linear-gradient(128deg, rgb(240, 240, 243) 0%, rgba(183,194,196,1) 100%); 
    box-shadow: rgba(7, 7, 7, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    .login-container-inputs { 
        display: flex;
        flex-direction: column; 
        align-items: center;
        margin-top: 2rem; 
        input { 
            padding: 10px;
        }
    }
    .login-container-logo { 
        width: 150px;
    }
    .login-container-text{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p { 
            font-size: 16px;
        }
    }
    .login-container-buttons { 
        display: flex; 
        width: 100%; 
        button { 
            width: 100%; 
            padding: 20px;
            border-radius: 0px 0px 20px 20px;
            outline: none;
            border: none;
            border-top: 1px solid black;
            font-size: 20px;
            @include navBarColor;
            color: white;
            &:hover { 
                cursor: pointer;
                background: rgb(78, 80, 82);
                background: linear-gradient(90deg, rgb(78, 79, 80) 0%, rgb(81, 84, 85) 74%);  
            }
        }
    }
}